<!DOCTYPE html>
<html land="ru">
<head>
    <title>ASS</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            {% for col in cols %}
            <th>
                {{col}}
            </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for i,row in rows.iterrows() %}
            <tr>
                {% for val in row %}
                <td>
                    {{val}}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>